<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
<ul><li>Create a markdown cell to list data science languages</li>
    <li>Create a markdown cell to list data science libraries</li>
    <li>Create a markdown cell with a table of Data Science tools</li>
    <li>Create a markdown cell introducing arithmetic expression examples</li>
    <li>Create a code cell to multiply and add numbers</li></ul>

Some of the popular languages that Data Scientists use are:
<ol><li>Python</li>
    <li>R</li>
    <li>Scala</li>

Some of the commonly used libraries used by Data Scientists include:
<ol><li>Pandas</li>
    <li>Numpy</li>
    <li>Scipy</li>

| Data Science Tools |
|-------|
| Jupyter Notebook |
| Spyder |
| RStudio |

<H3>Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200//60
rmmin = 200%60
print(f"{minutes} Minutes are {hours} Hours and {rmmin} Minutes")

200 Minutes are 3 Hours and 20 Minutes

<H2>Author</H2>
Shobhit Kundu